@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  padding: 1rem 4rem;
}

a {
  text-decoration: none;
}

.images {
  margin: 0 auto 10rem auto;
  width: 80vw;
  text-align: center;
  text-transform: capitalize;
}

.single-image {
  padding: 1rem 0;
  border: 3px solid salmon;
}

@media screen and (min-width: 922px) {
  .images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }
}
